@charset "UTF-8";

@media screen and (max-width: 1199px) {
  .inner{
    width: 97%;
  }

  .inner_green{
    display: block;
    padding-bottom:25px;
  }

  .image-wrapper_iphone{
    width: 100%;
    margin-bottom: 20px;
  }

  .desc-wrapper{
    width: 100%;
  }

  .desc-wrapper h2{
    padding-top: 0;
  }

  .thumbs{
    text-align: center;
  }

  .thumb{
    margin: 0;
    width: 100%;
  }

  .thumb:nth-child(3n+3){
    margin-bottom: 80px;
  }

  .article-inner_bottom{
    display: block;
    padding-top: 0;
  }

  .article-desc{
    margin: 0 0 40px 0;
    width: 100%;
  }

  .article-inner .btn{
    display: inline-block;
  }

  .skills{
    display: block;
  }

  .skill{
    width: 100%;
    margin-bottom: 88px;
  }

  .skill:last-child{
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .heading_item .btn{
    display: none;
  }

  .menu{
    display: inline-block;
  }

  .inner_theme{
    padding: 160px 0 130px 0;
    text-align: center;
  }

  .theme{
    font-size: 80px;
  }

  .social-contents{
    padding: 50px 0px;
  }

  .social-contents li{
    width: 100%;
  }

  .social-icon{
    width: 100%;
  }
}
